*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main{
    background-color:#FEFAE0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 40px;
    align-items: center;
}
.logo{
    width: 140px;
    height: 40px;
    background-color: #283618;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li a{
    padding-left: 20px;
    text-decoration: none;
    color: #283618;
}

.nav{
    color: #283618;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    text-align: center;

}   
 .main1{
    background-color: #283618;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
}
.heading h3{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.heading p{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.im img{
    /* width: 400px;
    height: 250px; */

}
.text p{
    color: #000;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 123.3%; 
letter-spacing: -0.56px;
}
.text h2{
    color: #090808;
font-family: Work Sans;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.68px;
}
.pic img{
    width: 350px;
    height: 350px;

}
.main2{
    display: flex;
    justify-content: space-around;
}